body {
  font-family: sans-serif;
  width: 50em;
  margin: 1in;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-top: 3em;
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: .5em;
}

td.numeric {
  text-align: right;
}

tr+tr {
  border-top: 1px solid black;
}

input {
  margin-left: .5em;
  margin-right: .5em;
}